@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: "Brushield Italic";
    src: url('Brushield\ italic.ttf') format('truetype');
}

:root {
    --navBack: rgba(55, 52, 56, 1);
    --background: rgb(129, 196, 85);
    --pink: #FF0099;
    --green: #00BF63;
}

body {
    font-family: 'Genos', sans-serif;
}

header {
    background: var(--navBack);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav {
    list-style: none;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--navBack);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover{
    color: #FF0099;
}

.logo-image {
    width: 200px;
    margin: 0;
}

.logo-image .whiteLogo {
    width: 200px;
}

.logo-image .pinkLogo {
    display: none;
    width: 200px;
}

.logo-image:hover .pinkLogo {
    display: inline;
}

.logo-image:hover .whiteLogo {
    display: none;
}

/* navigation styles start here */

header {
    background: var(--navBack);
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        position: fixed;
    }

    .logo-image {
        grid-column: 2 / span 1;
    }

    menu {
        grid-column: 3 / 4;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav ul {
        display: flex;
        
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #FF0099;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: right;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

.banner-area {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(andysweddingblackandwhite.jpg);
    background-size: cover;
    background-position: center;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1  {
    font-size: 6rem;
    line-height: 4rem;
    color: var(--pink);
    -webkit-animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
    font-family: 'Brushield Italic', sans-serif;
}

@-webkit-keyframes slide-in-bck-left {
    0% {
        -webkit-transform: translateZ(700px) translateX(-400px);
        transform: translateZ(700px) translateX(-400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-bck-left {
    0% {
        -webkit-transform: translateZ(700px) translateX(-400px);
        transform: translateZ(700px) translateX(-400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

.content p {
    font-size: 2.5rem;
    color: var(--pink);
    font-weight: bold;
    margin: 1em;
    /* rotate: -20deg; */
    -webkit-animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.btn {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    background: var(--pink);
    /* rotate: -20deg; */
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.btn:hover {
    background: var(--green);
    color: white;
    font-size: 1.5rem;
}

.slide-in-bck-left {
    -webkit-animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}

form {
    display: grid;
    grid-template-columns: minmax(300px, 600px);
    grid-gap: 10px;
    font-size: 1.9rem;
    margin: 10px;
}

form .message {
    height: 150px;
    vertical-align: text-top;
}

form input, form textarea {
    padding: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: var(--green) 2px solid;
}

form input:focus,
form textarea:focus {
    border: var(--pink) 2px solid;
    outline: var(--pink) 2px solid;
}

form .btn {
    rotate: 0deg;
}

.footer-container {
    background-color: var(--navBack);
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 50px;
}

.eventsContainer {
    display: grid;
    grid-template-columns: minmax(200px, 600px);
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    position: relative;
}

.eventsContainer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(barleymow-gig.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

.eventsContainer h1 {
    text-align: center;
    color: white;
    font-size: 3rem;

}

.eventCard {
    border: 1em solid var(--green);
    padding: 3em;
    border-radius: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.123);
    font-size: 1rem;
}

.eventCard:hover {
    border: 1em solid var(--pink);
}

.divider {
    min-height: 5em;
    background-color: rgb(163, 163, 163);
    background-image: url(logos/skellies\ logo\ -\ text\ and\ skull\ -\ pink\ both\ -\ wide.png);
    background-size: 20%;
    background-position: center;
}

.about-container {
    color: white;
    background-color: var(--navBack);
    display: flex;
    flex-direction: column;
    padding: 20px 20%;
    font-size: 1.25rem;
}

.aboutIntro {
    text-align: center;
    grid-area: content;
}

.about-container h1 {
    font-family: "Brushield Italic";
    color: var(--green);
    text-align: center;
    font-size: 5rem;
}

.aboutCard {
    display: grid;
    grid-template-columns: auto;
    /* grid-template-areas: 
    "pic name"
    "pic bio"; */
    gap: 5px 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.about-container .profile-pic {
    width: 200px;
    /* grid-area: pic; */
    border-radius: 100px;
    border: 5px solid var(--green);
}

.about-container .name {
    /* grid-area: name; */
    color: var(--green);
    font-family: "Brushield Italic";
    font-size: 3rem;
    margin: 0;
}

.about-container .aboutPara {
    /* grid-area: bio; */
}

